SQLALCHEMY_DATABASE_URL=postgresql://username:password@server:port/db_name
SECRET_KEY=SECRET_KEY
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_TIME=60
SEDNER_EMAIL=your_email
EMAIL_PASSWORD=your_email_password
TESTING=False